<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    html { 
    background: url("../images/505.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
</style>
 </head>
	<body> 
	<!-- <h1> Sorry Page not found!</h1> -->
	<a href="/" style="text-decoration: none;font-size: 22px; font-family: Roboto,Arial,sans-serif; color: black;">
	<i class="fa fa-home fa-3x" > </i> Go Back!
	</a>
	</body>
</html>