<!DOCTYPE html>
<html class="no-js" lang="">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Checkout Page</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/stylesnavbar.css">
      <link rel="stylesheet" href="css/pluginsnavbar.css">
      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <!-- <script type="text/javascript" src="views/js/productSpecs.js"></script>  -->
      <script src="js/vendornavbar.js"></script>
      <script src="js/plugins.js"></script>
      <script>
         window.SHOW_LOADING = false;
      </script>
   </head>
   <body>
      <div> <% include navbar.html %></div>
      <section>
         <div class="container">
         <div class="row cols-border">
         <div class="product-details-wrapper">
         <h2 class="product-name">
            <a href="#" class="title"> Checkout Details</a>
         </h2>
         <div class="col-md-8">
            <div role="tabpanel" class="product-details">
               <nav>
                  <ul class="nav" role="tablist">
                     <li role="presentation" class="active">
                        <a href="#product-description" data-toggle="tab">Shipment Details</a>
                     </li>
                     <li role="presentation">
                        <a href="#product-review" data-toggle="tab">Payment Details <span></span></a>
                     </li>
                     <li role="presentation">
                        <a href="#product-infomation" data-toggle="tab">Review Items <span></span></a>
                     </li>
                  </ul>
               </nav>
              
               <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="product-description">
                     <% if (shipping_address1 != null) { %>
                   <form action="/addShippingAddress"  method="post">
                     <div>
                        <h3 style="font-size: 20px!important;text-transform: uppercase;">Add Shipment Address</h3>
                     </div>
                     <div>
                        <input  name="userEmail" type="hidden" value="<%= varUserEmail %>"></input>
                     </div>
                     <!-- <p><%= shippingUser.user.shippingUserName %><p>
 -->
                     <div class="row">
                           <!-- <div class="col-md-5">
                              <div class="form-group">
                                 <label for="shipping_username">Name <sup>*</sup></label>
                                 <input type="text" required name="shipping_username" class="form-control" id="shipping_username" placeholder="Name">
                              </div>
                           </div> -->
                           <div class="col-md-5">
                              <div class="form-group">
                                 <label for="shipping_email">Email <sup>*</sup></label>
                                 <input type="email" required name ="shipping_email" value="<%= shippingUser.user.email %>" class="form-control" id="shipping_email" placeholder="Email">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-10">
                              <div class="form-group">
                                 <label for="shipping_address1">Address <sup>*</sup>
                                 </label>
                                 <input type="text" required name ="shipping_address1" value="<%= shippingUser.user.shippingAddress %>" class="form-control" id="shipping_address1" placeholder="Address">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-4">
                              <div class="form-group">
                                 <label for="shipping_city">City<sup>*</sup></label>
                                 <input type="text" name="shipping_city" required class="form-control" value="<%= shippingUser.user.shippingCity %>"  placeholder="City" id="shipping_city" rows="7" placeholder="City">
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                 <label for="shipping_State">State<sup>*</sup></label>
                                 <input type="text" name="shipping_State" required class="form-control" value="<%= shippingUser.user.shippingState %>" placeholder="State" id="shipping_State" rows="7" >
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                 <label for="shipping_PC">Postal Code<sup>*</sup></label>
                                 <input type="text" name="shipping_PC" required class="form-control" value="<%= shippingUser.user.shippingPostalCode %>" placeholder="Postal Code" id="shipping_PC" rows="7" >
                              </div>
                           </div>
                        </div>
                        <!-- Submit button -->
                        <div class="row">
                           <div class="col-md-3">
                              <div class="form-group">
                                 <div class="form-submit clearfix ">
                                    <div style="align-content:center;" class="pull-middle">
                                       <button type="submit" class="submit btn btn-lg btn-primary">Save</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                 <div class="form-submit clearfix ">
                                    <div style="align-content:center;" class="pull-middle">
                                       <button type="reset" class="submit btn btn-lg btn-primary">Cancel</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                   </form>
                 <% } else { %>
                 <form action="/addShippingAddress"  method="post">
                     <div>
                        <h3 style="font-size: 20px!important;text-transform: uppercase;">Add Shipment Address</h3>
                     </div>
                     <div>
                        <input  name="userEmail" type="hidden" value="<%= varUserEmail %>"></input>
                     </div>
                     <!-- <p><%= shippingUser.user.shippingUserName %><p>
 -->
                     <div class="row">
                           <!-- <div class="col-md-5">
                              <div class="form-group">
                                 <label for="shipping_username">Name <sup>*</sup></label>
                                 <input type="text" required name="shipping_username" class="form-control" id="shipping_username" placeholder="Name">
                              </div>
                           </div> -->
                           <div class="col-md-5">
                              <div class="form-group">
                                 <label for="shipping_email">Email <sup>*</sup></label>
                                 <input type="email" required name ="shipping_email"  class="form-control" id="shipping_email" placeholder="Email">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-10">
                              <div class="form-group">
                                 <label for="shipping_address1">Address <sup>*</sup>
                                 </label>
                                 <input type="text" required name ="shipping_address1"  class="form-control" id="shipping_address1" placeholder="Address">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-4">
                              <div class="form-group">
                                 <label for="shipping_city">City<sup>*</sup></label>
                                 <input type="text" name="shipping_city" required class="form-control"   placeholder="City" id="shipping_city" rows="7" placeholder="City">
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                 <label for="shipping_State">State<sup>*</sup></label>
                                 <input type="text" name="shipping_State" required class="form-control"  placeholder="State" id="shipping_State" rows="7" >
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                 <label for="shipping_PC">Postal Code<sup>*</sup></label>
                                 <input type="text" name="shipping_PC" required class="form-control" placeholder="Postal Code" id="shipping_PC" rows="7" >
                              </div>
                           </div>
                        </div>
                  <div class ="row">
                      <div class="col-md-3">
                              <div class="form-group">
                                 <div class="form-submit clearfix ">
                                    <div style="align-content:center;" class="pull-middle">
                                       <button type="reset"  class="submit btn btn-lg btn-primary">Add new Shipping Address</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           </div>
                           </form>
                  <% } %>
                </div>
                    
                        
                 
                  <!-- tab content -->
                
                  <div role="tabpanel" class="tab-pane" id="product-review">
                     <h3  style="font-size: 20px!important;"">Add Payment Method</h3>
                     <form action="/addPaymentMethod"  method="post">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label for="payment_cardHoldersName">Cardholder's Name<sup>*</sup></label>
                                 <input type="text" required name="payment_cardHoldersName" class="form-control" id="payment_cardHoldersName" placeholder="Cardholder's Name">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <label for="payment_cardNumber">Credit Card Number <sup>*</sup></label>
                              <div class="input-group">
                                 <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-credit-card"></span></span>
                                 <input type="text" class="form-control" required name="payment_cardNumber" class="form-control" id="payment_cardNumber" placeholder="Credit Card Number" aria-describedby="basic-addon1">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-2">
                              <div class="form-group">
                                 <label for="payment_CVV">CVV<sup>*</sup></label>
                                 <input type="text" name="payment_CVV" required class="form-control" placeholder="CVV" id="payment_CVV" rows="7" min="3" maxlength="3">
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                 <label for="shipping_State">Expiry Month<sup>*</sup></label>
                                 <select class="form-control" name='expireMM' id='expireMM'>
                                    <option value=''>Month</option>
                                    <option value='01'>January</option>
                                    <option value='02'>February</option>
                                    <option value='03'>March</option>
                                    <option value='04'>April</option>
                                    <option value='05'>May</option>
                                    <option value='06'>June</option>
                                    <option value='07'>July</option>
                                    <option value='08'>August</option>
                                    <option value='09'>September</option>
                                    <option value='10'>October</option>
                                    <option value='11'>November</option>
                                    <option value='12'>December</option>
                                 </select>
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                 <label for="shipping_State">Expiry Year<sup>*</sup></label>
                                 <select name='expireYY' class="form-control" id='expireYY'>
                                    <option value=''>Year</option>
                                    <option value='16'>2016</option>
                                    <option value='17'>2017</option>
                                    <option value='18'>2018</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <!-- Submit button -->
                        <div class="row">
                           <div class="col-md-3">
                              <div class="form-group">
                                 <div class="form-submit clearfix ">
                                    <div style="align-content:center;" class="pull-middle">
                                       <button type="submit"  class="submit btn btn-lg btn-primary">Save</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                 <div class="form-submit clearfix ">
                                    <div style="align-content:center;" class="pull-middle">
                                       <button type="submit"  href="/checkout" class="submit btn btn-lg btn-primary">Cancel</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                    </form>
                  </div>
                  <!-- tab panel -->
                 
                  <div role="tabpanel" class="tab-pane" id="product-infomation">
                      <h3>Items <span></span></h3>
                      <% var sum = Number(0) %>
                        <ol class="product-review-list">
                        <% orders.forEach(function(order) { %>
                        <%  sum = Number(sum) + Number(order["cart"]["productPrice"]) %>
                            <div>
                              <input type="hidden" name="cartID" value="<%= order['_id'] %>"></input>
                           </div>

                         <div style="float: right; clear: left;"> <img src="/productimages/5820f30167b3aa34f838cac95496140_sa.jpg" style="te" alt=""></div>
                           <li>
                              <h2 class="review-title" style="font-size: 25px!important;"><%= order["cart"]["productName"] %></h2>
                              
                              <div class="review-comment">
                                 
                              </div>
                              <div class="review-comment"><span>Quantity - </span>
                                 <a href="#" class="author"><%= order["cart"]["quantity"]%></a>
                              </div>
                              <div class="review-comment">
                                 <span>Price - </span>
                                 <a href="#" class="author"> <%= order["cart"]["productPrice"] %> </a>
                              </div>
                           </li>
                            <% }); %> 
                        </ol>
                         <% if (orders.length > 0) { %>
                         <div class="row">
                           <div class="col-md-5">
                              <div class="form-group">
                                 <h3>Cart total Price :<span class="amount">$<%=  sum %></span> </h3>
                              </div>
                            </div>
                             </div>
                             <div class="row">
                             <div class="col-md-3">
                              <div class="form-group">
                                 <div class="product-review-list">
                   <a href="/checkout/deletCart" >
                   <button  class="btn btn-lg btn-primary" onclick='return confirm("Order has been placed!! Order ID :  <%= Math.floor(Math.random() * 200000000) %> ")'>Place your order</button>
                   </a>
                  </div>
                              </div>
                           </div>
                          </div>
                          <% } else { %> 
                          <div>
                  <h3>No Items in Cart to Review<span></span></h3>
                  </div>
                  <% } %>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </body>
   <footer>
      <% include footer.html %>
   </footer>
</html>