<!DOCTYPE html>
<html class="no-js" lang="">

<head>
 <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SmartBuy </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<div>
<footer class="footer">
            <div class="footer-wrapper">
                <div class="footer-widgets">


                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12 col-sm-6">

                                        <div class="widget">
                                            <h3 class="widget-title">ABOUT SMARTBUY</h3>

                                            <div class="widget-content">
                                                <p>SmartBuy web portal is a system designed mainly for selling and purchase of electronic goods and items. It allows first partty vendors to sell their electronic goods.</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-12 col-sm-6">

                                        <div class="widget">
                                            <h3 class="widget-title">CONTACT US</h3>

                                            <div class="widget-content">
                                               
                                                <p>Email: samsetest@gmail.com</p>
                                            </div>
                                        </div>
                                        <!-- /.widget -->

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6">

                                <div class="widget">
                                    <h3 class="widget-title">Shopping</h3>

                                    <ul>
                                        <li><a href="#" title="">Your Cart</a>
                                        </li>
                                        <li><a href="#" title="">Your Orders</a>
                                        </li>
                                    
                                    </ul>
                                </div>
                                <!-- /.widget -->

                            </div>

                            <div class="col-md-4">

                                 <div class="widget">
                                    <h3 class="widget-title">PAYMENT ACCEPT</h3>

                                    <ul class="list-socials">
                                        <li>
                                            <a href="#" title="">
                                                <i class="fa fa-cc-paypal"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" title="">
                                                <i class="fa fa-cc-visa"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" title="">
                                                <i class="fa fa-cc-discover"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.widget -->

                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.footer-widgets -->

                <div class="footer-copyright">
                    <div class="container">
                        <div class="copyright">
                            <p>Copyright &copy; 2016 SmartBuy - All Rights Reserved.</p>
                        </div>

                        <div class="footer-nav">
                            <nav>
                                <ul>
                                    <li><a href="#" title="">Contact Us</a>
                                    </li>
                                    <li><a href="#" title="">Term of Use</a>
                                    </li>
                                    <li><a href="#" title="">Privacy Policy</a>
                                    </li>
                                    
                                </ul>
                            </nav>

                            
                        </div>
                    </div>
                </div>
                <!-- /.footer-copyright -->
            </div>
            <!-- /.footer-wrapper -->

            <a href="#" class="back-top" title="">
                <span class="back-top-image">
                 
                      <img src="images/products/back-top.png" alt="">
                </span>

                <small>Go to Top</small>
            </a>
</footer>
</div>
</html>