<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Forgot Password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="/css/login.css">
  <script src="/js/login.js"> </script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
        <div class="col-md-6">
        <form action=/forgot method="post">
        <div class="form-group">
                <label for="email"><span class="req">* </span> Email Address: </label> 
                    <input class="form-control" required type="text" name="email" id = "email"  placeholder="email" onchange="email_validate(this.value);" />   
                        <div class="status" id="status"></div>
            </div>
             <div class="form-group">
                <input class="btn btn-success" type="submit" align="middle" name="submit_reg"  value="Send">
                </div>
        </form>
        </div>
        </div>
        </div>
        </body>
        </html>
