<!DOCTYPE html>
<html class="no-js" lang="">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Checkout Page</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/stylesnavbar.css">
      <link rel="stylesheet" href="css/pluginsnavbar.css">
      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <!-- <script type="text/javascript" src="views/js/productSpecs.js"></script>  -->
      <script src="js/vendornavbar.js"></script>
      <script src="js/plugins.js"></script>
      <script>
         window.SHOW_LOADING = false;
      </script>
   </head>
   <body>
   
   </body>
   </html>
