<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Reset page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="/css/login.css">
  <script src="/js/login.js"> </script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    
</head>
<body style='background:url("/images/login1.jpg")' >
<div class="container content-container">
	<div class="row">
        <div class="col-md-4 col-md-offset-4 row-md-4">
        <form action=/reset/:token method="post" class="well form-horizontal">
        <fieldset>
                  <legend style="text-align: center;">Reset Password </legend>
          <div class="form-group">
             <label class="col-md-1 control-label">Username</label>  
          </div>
          <div class="input-group input-group">
             <span class="input-group-addon">
             <span class="glyphicon glyphicon-user"></span>
             </span>
             <input value = '<%= user.user.username%>' name= "username"/>
          </div>
       <!-- Password -->
          <div class="form-group">
             <label class="col-md-1 control-label" for="password">*Password: </label>  
          </div>
          <div class="input-group input-group">
             <span class="input-group-addon">
             <span class="glyphicon glyphicon-lock"></span>
             </span>
             <input required name="password" type="password" class="form-control inputpass" placeholder="password" minlength="4" maxlength="16"  id="pass1" />
          </div>

          <!-- Confirm Password -->
          <div class="form-group"> 
             <label class="control-label" for="password2" style="padding-left: 15px;">*Confirm Password: </label>
          </div>
          <div class="input-group input-group">
             <span class="input-group-addon">
             <span class="glyphicon glyphicon-lock"></span>
             </span>
             <input required name="password2" type="password" class="form-control inputpass" minlength="4" maxlength="16" placeholder="Enter passsword again to validate"  id="pass2" onkeyup="checkPass(); return false;"/>
              <span id="confirmMessage" class="confirmMessage"></span>
          </div>

          <div class="form-group">
          </div>
          <div class="form-group">
             <div class="col-md-12">
                <input class="btn btn-success" type="submit" align="middle" name="submit_reg"  value="Update password">
             </div>
          </div>
          </fieldset>
        </form>
        </div>
        </div>
        </div>
        </body>
        </html>
