<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Search Results Page</title>
    <% include ./ejs/head %>
    <link rel="stylesheet" type="text/css" href="css/searchResults.css">
    <script type="text/javascript" src="views/js/search.js"></script>
</head>
<body> <% include navbar.html %>
    <div class="page-container container-fluid container content-container list-page-bootstrap-container">
    <form class="filter-checkbox" action="/search" method="post">
    <div class="container-fluid ">
        <div class="results-header">
            <!--<div class="row breadcrumb-row">
                <div class="col-xs-12">
                    <nav class="breadcrumb-navigation" role="navigation" aria-label="Breadcrumb">
                        <ol class="breadcrumb">
                            <li class=""><a href="/">SmartBuy</a></li>
                            <li class="active"><a href="#">All Categories</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="clearfix"></div>
            </div>-->   
            <div>
            

            </div>

            <div class="row results-title">
                <div class="col-sm-12">
                    <h1 class="result-for">
                        Search results for 
                    </h1>
                </div>
            </div>
            <div class="row results-title">
                <div class="col-sm-12">
                    <h1 class="result-for" name="search_text" value="<%= searchtext %>">
                        <% if (searchtext != null) { %>
                            "<%= searchtext %>"
                        <% } %>
                    </h1>
                    <input type="text" value="<%= searchtext %>" name="search_text" class="hide">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="left-container col-sm-3 search-filters">
                <nav class="filters" role="navigation" aria-label="Secondary">
                    <h2 class="sr-only">Filters</h2>
                    <ul class="filter-list" role="group" aria-label="Filters: Selecting a filter checkbox will refresh the page to update the results.">
                        <li id="brand_filter" data-name="Brand" data-id="brand_filter" class="filter-item">
                            <div class="filter-title"> <h3 class="title">Sellers</h3> </div>
                            <div class="filter-content">
                                
                                <ul class="filter-values" name="sellers">
                                    <% if (sellers.length != 0) { %>
                                    <% sellers.forEach(function(seller) { %>
                                        <li class="filter-value" data-track='<%= seller["user"]["username"] %>' data-value='<%= seller["user"]["username"] %>' data-count="35" data-query-path='features_filter=<%= seller["user"]["username"] %>'>
                                            <span class="value-checkbox">
                                                <input type="checkbox" id="sellerbrand_filter" class="sellerbrand_filter" autocomplete="off" value='<%= seller["user"]["email"] %>' name='seller' <% if(sellerfiltersapplied.indexOf(seller["user"]["username"]) > -1){ %> checked="checked" <% } %>  >
                                                <input type="text" class="hide seller_name" name="sellername" <% if(sellerfiltersapplied.indexOf(seller["user"]["username"]) > -1){ %> value = '<%= seller["user"]["username"] %>' <% } %>>
                                                <input type="submit" name="filterselected" class="brand-submit hide" value='<%= seller["user"]["username"] %>'>
                                            </span>
                                            <span class="value-content">
                                                <label for="features_filter-1"><%= seller["user"]["username"] %></label>
                                            </span>
                                        </li>
                                    <% }); %>
                                    <% } %>
                                </ul>
                            </div>
                        </li>
                        <li id="price-filter" data-name="Price" data-id="price-filter" class="filter-item">
                            <div class="filter-title">  <h3 class="title ">Price</h3> </div>
                            <div class="filter-content">
                                <ul class="filter-values">
                                    <li class="filter-value" data-track="$0 - $49.99" data-value="$0 - $49.99" data-count="8" data-query-path="price-filter=Price~$0 - $49.99">
                                        <span class="value-checkbox">
                                            <input type="checkbox" id="price-filter-0" autocomplete="off" name="price" value="$0 - $49.99" class="price_filter" <% if(pricefiltersapplied && (pricefiltersapplied.indexOf('$0 - $49.99') > -1)) { %> checked="checked" <% } %> >
                                            <input type="submit" name="filterselected" class="price-submit hide" value='$0 - $49.99'>
                                        </span>
                                        <span class="value-content">
                                            <label for="price-filter-0">$0 - $49.99</label>
                                        </span>
                                    </li>
                                    <li class="filter-value" data-track="$50 - $99.99" data-value="$50 - $99.99" data-count="8" data-query-path="price-filter=Price~$50 - $99.99">
                                        <span class="value-checkbox">
                                            <input type="checkbox" id="price-filter-1" autocomplete="off" name="price" value="$50 - $99.99" class="price_filter" <% if(pricefiltersapplied && (pricefiltersapplied.indexOf('$50 - $99.99') > -1)) { %> checked="checked" <% } %> >
                                            <input type="submit" name="filterselected" class="price-submit hide" value='$50 - $99.99'>
                                        </span>
                                        <span class="value-content">
                                            <label for="price-filter-1">$50 - $99.99</label>
                                        </span>
                                    </li>
                                    <li class="filter-value" data-track="$100 - $149.99" data-value="$100 - $149.99" data-count="6" data-query-path="price-filter=Price~$100 - $149.99">
                                        <span class="value-checkbox">
                                            <input type="checkbox" id="price-filter-2" autocomplete="off" name="price" value="$100 - $149.99" class="price_filter" <% if(pricefiltersapplied && (pricefiltersapplied.indexOf('$100 - $149.99') > -1)) { %> checked="checked" <% } %> >
                                            <input type="submit" name="filterselected" class="price-submit hide" value='$100 - $149.99'>
                                        </span>
                                        <span class="value-content">
                                            <label for="price-filter-2">$100 - $149.99</label>
                                        </span>
                                    </li>
                                    <li class="filter-value" data-track="$150 - $199.99" data-value="$150 - $199.99" data-count="11" data-query-path="price-filter=Price~$150 - $199.99">
                                        <span class="value-checkbox">
                                            <input type="checkbox" id="price-filter-3" autocomplete="off" name="price" value="$150 - $199.99" class="price_filter" <% if(pricefiltersapplied && (pricefiltersapplied.indexOf('$150 - $199.99') > -1)) { %> checked="checked" <% } %> >
                                            <input type="submit" name="filterselected" class="price-submit hide" value='$150 - $199.99'>
                                        </span>
                                        <span class="value-content">
                                            <label for="price-filter-3">$150 - $199.99</label>
                                        </span>
                                    </li>
                                    <li class="filter-value" data-track="$200 - $499.99" data-value="$200 - $499.99" data-count="10" data-query-path="price-filter=Price~$200 - $499.99">
                                        <span class="value-checkbox">
                                            <input type="checkbox" id="price-filter-4" autocomplete="off" name="price" value="$200 - $499.99" class="price_filter" <% if(pricefiltersapplied && (pricefiltersapplied.indexOf('$200 - $499.99') > -1)) { %> checked="checked" <% } %> >
                                            <input type="submit" name="filterselected" class="price-submit hide" value='$200 - $499.99'>
                                        </span>
                                        <span class="value-content">
                                            <label for="price-filter-4">$200 - $499.99</label>
                                        </span>
                                    </li>
                                    <li class="filter-value" data-track="$500 - Up" data-value="$500 - Up" data-count="10" data-query-path="price-filter=Price~$500 - Up">
                                        <span class="value-checkbox">
                                            <input type="checkbox" id="price-filter-5" autocomplete="off" name="price" value="$500 - Up" class="price_filter" <% if(pricefiltersapplied && (pricefiltersapplied.indexOf('$500 - Up') > -1)) { %> checked="checked" <% } %> >
                                            <input type="submit" name="filterselected" class="price-submit hide" value='$500 - Up'>
                                        </span>
                                        <span class="value-content">
                                            <label for="price-filter-5">$500 - Up</label>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            
            <div class="right-container all-products col-sm-9 search-filter-results">
                <main class="page-results" id="page-results" role="main" aria-labelledby="page-results-heading">
                    <h2 class="sr-only" id="page-results-heading">Results</h2>
                    <div class="main-results" id="main-results" role="group" tabindex="-1" aria-labelledby="main-results-heading">
                        <div class="list-control-bar list-header-controls">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="sort-by">
                                        <label for="sort-by-select">Sort by:</label> 
                                        <span class="sort-by-select">
                                            <select id="sort-by-select">
                                                <option value="" selected=""></option>
                                                <option value="product.price" <% if(appliedsortby === "product.price") { %> selected <% } %> >Price Low to High</option>
                                                <option value="-product.price" <% if(appliedsortby === "-product.price") { %> selected <% } %> >Price High to Low</option>
                                                <option value="product.name" <% if(appliedsortby === "product.name") { %> selected <% } %> >Product Name A-Z</option>
                                                <option value="-product.name" <% if(appliedsortby === "-product.name") { %> selected <% } %> >Product Name Z-A</option>
                                            </select>
                                            <input type="text" name="sortby" class=" hide sort-by-hidden-field" <% if(appliedsortby) { %> value="<%= appliedsortby %>" <% } %>  />
                                            <input type="submit" name="sortby-submit" class=" sortby-submit hide"  />
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-6"></div>
                                <!--<div class="col-sm-3">
                                    <div class="results-display-picker">
                                        <label>View:</label> 
                                        <button class="btn btn-sm display-list-view" aria-pressed="false" data-track="PLPListView">
                                            <span class="glyphicon glyphicon-th-list"></span>
                                            List
                                        </button>
                                        <button class="btn btn-sm display-grid-view" aria-pressed="true" data-track="PLPGridView">
                                            <span class="glyphicon glyphicon-th"></span>
                                            Grid
                                        </button>
                                    </div>
                                </div>-->
                                <div class="clearfix"></div> 
                            </div>
                            <div class="clearfix"></div> 
                        </div>
                        <div class="row applied-filters-container">
                            <div class="col-sm-12">
                                <div class="applied-filter-content">
                                    <h4 aria-label="Applied Filters:">Applied Filters:</h4>
                                    <ul class="applied-filters">
                                        <% if (sellerfiltersapplied.length != 0) { %>
                                        <% sellerfiltersapplied.forEach(function(filter) { 
                                            if(filter.length != 0) { %>
                                            <li class="applied-filter-value" data-filter-id="brand_filter" >
                                                <span class="filter-copy"><%= filter %></span>
                                                <a href="#" class="remove">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </a>
                                            </li>
                                        <% } }); } %>                                       

                                        <% if (pricefiltersapplied.length != 0) { %>
                                            <% if (Array.isArray(pricefiltersapplied)){ %>
                                                <% pricefiltersapplied.forEach(function(pricefilter) { 
                                                    if(pricefilter.length != 0) {%>
                                                <li class="applied-filter-value" data-filter-id="brand_filter" data-value="Beats by Dr. Dre" data-count="35" data-query-path="brand_filter=Brand~Beats by Dr. Dre">
                                                    <span class="filter-copy"><%= pricefilter %></span>
                                                    <a class="remove">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </a>
                                                </li>
                                                <% } }); %>
                                            <% } 
                                            else{ %>
                                                <li class="applied-filter-value" data-filter-id="price_filter" >
                                                    <span class="filter-copy"><%= pricefiltersapplied %></span>
                                                    <a class="remove">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </a>
                                                </li>
                                            <% } %>
                                        <% } %>
                                        <% if ( (!pricefiltersapplied) && (sellerfiltersapplied == "" || (sellerfiltersapplied && sellerfiltersapplied.every(function(v) { return v === ''; }))) )  { %>
                                        <li>
                                            <span class="clear-all" aria-label="No Filters applied">No filters applied</span>
                                        </li>
                                        <% } 
                                        else { %>
                                        <li>
                                            <a class="clear-all" title="Clear all filters" aria-label="Clear all filters">Clear all</a>
                                        </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div> 
                        </div>
                        <div class="row products-grid-container list-items">
                            <% if (products.length != 0) { %>
                                <% products.forEach(function(product) { %>
                                <div class="col-sm-4 owl-item active list-item">
                                    <div class="product product-grid">
                                        <div class="product-media">
                                            <div class="product-thumbnail">
                                                <a href='/productSpecs?productID=<%= product["_id"] %>' title="">
                                                    <img <% if(product["product"]["imagepath"]) { %> src='<%= product["product"]["imagepath"] %>' <% } else { %> src='/images/emptyimageplaceholder.jpg' <% } %> alt="" class="" >
                                                    <img <% if(product["product"]["imagepath"]) { %> src='<%= product["product"]["imagepath"] %>' <% } else { %> src='/images/emptyimageplaceholder.jpg' <% } %> alt="" class="current" >
                                                </a>
                                            </div>
                                            <!-- /.product-thumbnail -->
                                            <div class="product-hover">
                                                <div class="product-actions">
                                                    <a href="#" class="awe-button product-add-cart" data-toggle="tooltip" title="" data-original-title="Add to cart">
                                                        <i class="icon icon-shopping-bag"></i>
                                                    </a>
                                                    <!--<a href="#" class="awe-button product-quick-whistlist" data-toggle="tooltip" title="" data-original-title="Add to wishlist">
                                                        <i class="icon icon-star"></i>
                                                    </a>-->
                                                    <a href='/productSpecs?productID=<%= product["_id"] %>'  class="awe-button product-quick-view" data-toggle="tooltip" title="" data-original-title="Quickview">
                                                        <i class="icon icon-eye"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- /.product-hover -->
                                        </div>
                                        <!-- /.product-media -->
                                        <div class="product-body">
                                            <h2 class="product-name">
                                                <a href='/productSpecs?productID=<%= product["_id"] %>' title='<%= product["product"]["name"] %>' ><%= product["product"]["name"] %></a>
                                            </h2>
                                            <!-- /.product-product -->
                                            <div class="product-category prod_desc crop" title='<%= product["product"]["description"] %>'>
                                                <span><%= product["product"]["description"] %></span>
                                            </div>
                                            <!-- /.product-category -->
                                            <div class="product-price">
                                                <span class="amount">$<%= product["product"]["price"] %></span>
                                            </div>
                                            <!-- /.product-price -->
                                        </div>
                                        <!-- /.product-body -->
                                    </div>
                                </div>
                              <% }); %>
                            <% }
                            else { %>
                                <div class="col-sm-12 no-products-found">No relevant products found</div>
                            <% } %>
                            <div class="clearfix"></div>
                        </div>
                        <div class="pagination pull-right">
                            <% if (pageCount > 1) { 
                                var page; %>  
                                <ul class="pagination">  
                                  <% if (currentPage > 1) { 
                                        page = 1;  %>
                                      <li><a class="next-page" value='1'>&laquo;</a></li>
                                  <% } %>
                                  <% var i = 1;
                                  if (currentPage > 5) {
                                  i = +currentPage - 4;
                                  } %>
                                  <% if (i !== 1) { %>
                                      <li class="disabled"><a href="#">...</a></li>
                                  <% } %>
                                  <% for (i; i<=pageCount; i++) { %>
                                    <% if (currentPage == i) { %>
                                        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
                                    <% } else { 
                                        page = i; %>
                                        <li><a class="next-page" value='<%= i %>'><%= i %></a></li>
                                    <% } %>
                                    <% if (i == (+currentPage + 4)) { %>
                                        <li class="disabled"><a href="#">...</a></li>
                                    <% break; } %>
                                  <% } %>
                                  <% if (currentPage != pageCount) { 
                                        page = pageCount; %>
                                      <li><a class="next-page" value='<%= pageCount %>'>&raquo;</a></li>
                                  <% } %>
                                </ul>
                                <input type="submit" name="page" class="page-to-go hide"> 
                            <% } %> 
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </main>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        </div>
        </form>
    </div>  
  
</body>
<footer>
  <% include footer.html %>
</footer>
</html>
