.stylish-input-group .input-group-addon{
			background: white !important; 
		}
		.stylish-input-group .form-control{
		 border-right:0; 
		 box-shadow:0 0 0; 
		 border-color:#ccc;
		}
		.stylish-input-group button{
			border:0;
			background:transparent;
		}
		.col-sm-offset-3 {
    margin-top: 1% !important;
    margin-left: 4% !important;}
    